html,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

nav{
	background-color: #010101 !important;
}

.nav-link{
	font-size: 0.9rem;
	font-weight: 700;
}

.nav-link:hover{
    color: #f0ad4e !important;
    transition: 300ms;
}


.landing-logo img , #footer img{
	max-height: 100px;
}

#landing-section{
    height: 100vh !important;
	min-height: 720px;
    /* background-image: url(./cover1.jpg); */
    background-image: url("../images/cover.jpg");
	background-size: cover;
	background-repeat: none;
	position: relative;
}

#landing-section *{
	z-index: 1;
}

#landing-section::after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	z-index: 0;
}

#landing-section h1{
	font-size: min(100px,13vw);
}

#landing-section h2{
	font-size: min(80px,10vw);
}


.kayit-button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:5px 21px;
    opacity: 0.9;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.kayit-button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
    color: #333333;
    text-decoration: none;
}
.kayit-button:active {
	position:relative;
	top:1px;
}

.basvuru-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:5px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.basvuru-button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
    color: #333333;
    text-decoration: none;
}
.basvuru-button:active {
	position:relative;
	top:1px;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	font-size: 6px;
	color: #f0ad4e !important;
	margin: 24px 0px 48px 0px;
	max-width: 600px;
}

.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 0.5px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}


#icazet-section img{
	aspect-ratio: 14/9;
	object-fit: cover;
}

#icazet-section .item , #gallery-section .item{
	overflow: hidden;
	transition: 0.5s ease;
}

#icazet-section .item:hover, #gallery-section .item:hover{
	filter: brightness(150%);
}

#icazet-section .item:hover img{
	transform: scale(1.1);
	transition: 0.5s ease;
}

#gallery-section .item:hover img{
	transform: scale(1.1);
	transition: 0.5s ease;
}

#gallery-section img{
	object-fit: cover;
}

#form{
	min-height: 300px;
}

#register-section{
	background-image: url("../images/cover3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#register-section .hr-sect::before , #register-section .hr-sect::after {
	content: "";
	flex-grow: 1;
	background: white !important;
	height: 0.5px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.error , .success{
	display: none;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin: 0 0 20px 0;
}

#register-section h3{
	font-size: 24px;
}

#register-section .alert{
	margin-bottom: 2.5rem;
}

#register-section i:hover{
	color: #322f31;
}

#register-section i{
	color:#ededed;
}

.gradient-to-right, section.gradient-to-right, .ps1-deco, .widget .small-border {
    background: linear-gradient(to right,#f6a81c,#322f31);
}

.btn-custom{
    color: #000;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 20px;
	display: inline-block;
	background-color: #f6a81c;
	letter-spacing: 3px;
    line-height: normal;
    text-decoration: none !important;
	transition: .3s ease;
}

.btn-custom:hover{
	background-color: #565656;
}

.btn-link:focus{
	border: none !important;
	outline: none !important;
}

#faq-section{
	background-image: url("../images/cover2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}

#faq-section .card{
	background-color: #dedede;
	border-radius: 0 !important;
	border: none;
}

#faq-section .card-header{
	background-color: #dedede !important;
}

#accordion .card-body{
	background-color: #efefef;
}

#accordion a{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #565656;
	text-decoration: none;
	font-weight: bolder;
}

#stakeholder-section img{
	max-height: 100px;
	width: auto;
}

#footer{
	background-color: #010101;
}

#footer i{
	transition: 0.3s ease;
}

#footer i:hover{
	background-color: #f6a81c;
}
